:root {
    //colors
    --dark-magenta: #512050;
    --soft-pink: #EE68A4;
    --dark-gray-magenta: #937B92;
    --light-gray-magenta: #F7F2F7;

    //typo
    --font-size: 15px;
    --font-family: 'Spartan', sans-serif;
}

//variables
$mobile: 375px;

body  {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    background-color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5;

    h1 {
        color: var(--dark-magenta);
        font-weight: 700;
        font-size: calc(24px + (48 - 24) * ((100vw - 375px) / (1440 - 375)));;
        line-height: 1;
        margin: 1rem auto;
    }

    p {
        line-height: 1.8;
    }
}

main {
    height: 100%;
    width: 100%;

    // img:nth-child(1) {
    //     position: absolute; 
    //     top: 0;
    //     left: 0;
    // }

    // img:nth-child(2) {
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    // }

    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: auto;
        max-width: 85vw;
        height: 100vh;
    
        .wrapper-section1 {
            display: flex;
            flex-flow: row wrap;
            flex-basis: 100%;

            p.sm-text-center {
                color: var(--dark-gray-magenta);
            }

            .w-half {
                .wrapper-section1-left {
                    width: 70%;
                    box-sizing: border-box;
                }
            }

            .rating-card-wrapper {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: flex-end;

                .rating-card {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    background-color: var(--light-gray-magenta);
                    border-radius: 5px;
                    margin: 0.5em 0;
                    width: 80%;
    
                    .w-half {
                        display: flex;
                        justify-content: center;
                        padding: 0 2em;
                    }
    
                    .w-half:nth-child(2) {
                        justify-content: left;
                        flex: 2;
                    }
                    
                    img.stars {
                        width: auto;
                        height: auto;
                        padding: 0 0.3em;
                    }
    
                    p {
                        font-weight: 700;
                        color: var(--dark-magenta);
                    }
                } 
            }
        }
    
        .w-half {
            flex: 1;
        }  
        
        .wrapper-section2 {
            .testimonial-wrapper {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .testimonial-card {
                    background-color: var(--dark-magenta);
                    border-radius: 5px;
                    padding: 3em 2em;
                    flex-basis: 28%;

                    .testimonial-header-wrapper {
                        display: flex;
                        flex-direction: row;

                        .testimonial-profile-pic {
                            border-radius: 50px;
                            height: 80px;
                            width: auto;
                        }

                        .testimonial-header {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 1em;

                            .testimonial-title {
                                p {
                                    color: white;
                                    margin: 0;
                                }
                            }

                            .testimonial-subtitle {
                                p {
                                    color: var(--soft-pink);
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .testimonial-quote {
                        p {
                            color: white;
                            font-weight: 400;;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    main {
        .container {
            .w-half {
                flex: 1 100%;
                padding: 0;
            }

            .sm-text-center {
                text-align: center;
            }
            
            .wrapper-section1 {
                .w-half {
                    .wrapper-section1-left {
                        width: auto;
                    }
                }
            
                .rating-card-wrapper {
                    .rating-card {
                        padding: 1em;
    
                        .w-half:nth-child(2) {
                            justify-content: center;
    
                            p {
                                margin: 1em 0 0;
                            }
                        }
                    }
                }
            }

            .testimonial-card {
                flex-basis: 100% !important;
            }
        }
    } 
}